@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <div class="card m-4">
                <div class="card-body">                 
                    @for (int i = 1; i <= 10; i++)
                    {
                        <div class="form-group float-left ml-2">
                            <input type="text" id="n@(i)" placeholder="Numero @i" class="form-control">
                        </div>
                    }

                    
                </div>

                <div class="card-footer">
                    <input type="button" id="btnSubmit" class="btn btn-primary float-right" value="Guardar">
                </div>
            </div>
        }
    </div>
